body {
  margin:  0.05rem;
  display: grid;
  font-family: Arial, sans-serif;
}

.container.light {
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
}

.container.dark {
  background-color: #333;
  color: #fff;
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
}
